# Default values for sputnik-v2-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: 398077236708.dkr.ecr.eu-central-1.amazonaws.com
  tag: latest
  name: sputnik-v2-api
  pullPolicy: Always

imagePullSecrets: [ ]
nameOverride: ""
fullnameOverride: ""

aggregatorNameOverride: "sputnik-v2-aggregator"
aggregatorFullnameOverride: "sputnik-v2-aggregator"

aggregatorDaoNameOverride: "sputnik-v2-aggregator-dao"
aggregatorDaoFullnameOverride: "sputnik-v2-aggregator-dao"

notifierNameOverride: "sputnik-v2-notifier"
notifierFullnameOverride: "sputnik-v2-notifier"

container:
  # Specifies the internal container port
  internalPort: 3000
  # Specifies the endpoint for liveness checks
  livenessProbe:
    failureThreshold: 10
    initialDelaySeconds: 90
    periodSeconds: 60
    successThreshold: 1
    timeoutSeconds: 60
    port: 3000
    path: /api/v1/daos
  readinessProbe:
    failureThreshold: 10
    initialDelaySeconds: 25
    periodSeconds: 60
    successThreshold: 1
    timeoutSeconds: 60
    port: 3000
    path: /api/v1/daos

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  host: "sputnik-v2-api-host"

resources:
  limits:
    memory: 1000Mi
  requests:
    cpu: 100m
    memory: 1000Mi

nodeSelector: {}

tolerations: []

affinity: {}

version:
  commit: latest
  branch: develop

monitoring:
  metrics:
    enabled: true
    endpoints:
    - path: /api/v1/metrics
      port: api

environment:
  near_env: "testnet"
  near_contract_name: "sputnikv2.testnet"
  near_token_factory_contract_name: "tokenfactory.testnet"
  near_bridge_token_factory_contract_name: "f.ropsten.testnet"
  aggregator_polling_interval: "5000"
  aggregator_token_polling_interval: "10000"
  aggregator_token_prices_polling_interval: "100000"
  # 12 hours
  aggregator_dao_status_polling_interval: "43200000"
  # Every day at 23:55
  aggregator_dao_stats_cron_time: "55 23 * * *"
  wallet_callback_url: ""
  frintend_url: ""
  api_rate_ttl: "60"
  api_rate_limit: "5"
  admin_accounts: "vhorin-dev.near"
  notifi_env: "Development"
  notifi_sid: ""
  notifi_secret: ""
